/Clase_1_LP_II/nbproject/private/
/Clase_1_LP_II/build/
/miprimerproyecto/nbproject/private/
/miprimerproyecto/miprimerproyecto-war/nbproject/private/
/miprimerproyecto/miprimerproyecto-ejb/nbproject/private/
/miprimerproyecto/miprimerproyecto-war/build/
/miprimerproyecto/miprimerproyecto-ejb/build/
/miprimerproyecto/miprimerproyecto-ejb/dist/