/Clase_1_LP_II/nbproject/private/
/Clase_1_LP_II/build/
/miprimerproyecto/nbproject/private/
/miprimerproyecto/miprimerproyecto-war/nbproject/private/
/miprimerproyecto/miprimerproyecto-ejb/nbproject/private/
/miprimerproyecto/miprimerproyecto-war/build/
/miprimerproyecto/miprimerproyecto-ejb/build/
/miprimerproyecto/miprimerproyecto-ejb/dist/
/Calculo_serie/nbproject/private/
/Calculo_serie/build/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/