/Clase_1_LP_II/nbproject/private/
/Clase_1_LP_II/build/
/miprimerproyecto/nbproject/private/
/miprimerproyecto/miprimerproyecto-war/nbproject/private/
/miprimerproyecto/miprimerproyecto-ejb/nbproject/private/
/miprimerproyecto/miprimerproyecto-war/build/
/miprimerproyecto/miprimerproyecto-ejb/build/
/miprimerproyecto/miprimerproyecto-ejb/dist/
/Calculo_serie/nbproject/private/
/Calculo_serie/build/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/ejemplo/nbproject/private/
/ejemplo/ejemplo-war/nbproject/private/
/ejemplo/ejemplo-ejb/nbproject/private/
/ejemplo/build/
/ejemplo/dist/
/ejemplo/ejemplo-war/build/
/ejemplo/ejemplo-war/dist/
/ejemplo/ejemplo-ejb/dist/
/ejemplo/ejemplo-ejb/build/
/conexionBDD/nbproject/private/
/conexionBDD/build/
/coneccionbdd1/nbproject/private/
/Basedatos/nbproject/private/
/pokemon/nbproject/private/
/pokemon/build/
/herencias/nbproject/private/
/herencias/build/
/Actividad en clase/nbproject/private/
/Actividad en clase/build/
/DeberAMT/build/
/Clase_05_02_2020/nbproject/private/
/Clase_05_02_2020/build/
/dibujos/nbproject/private/
/dibujos/build/
/comparadores/nbproject/private/
/comparadores/build/
/trabajoenclase/nbproject/private/
/trabajoenclase/build/
/Proyecto/nbproject/private/
/Proyecto/build/